/* ORSAYKURAL COLORS
primary - #FF5757 
secondary - #FFEED3 
accent - #E4FF1A 
light - #F7F7F7 
dark - #131313  
*/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #131313;
    color: #E4FF1A;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Monaco, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px 10px;
    /* height: 100vh; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

ul, p, h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

img {
    display: block;
}

.container {
    display: inline-flex;
    flex: 1;
    align-items: center;
}

h1 {
    font-size: 15px;
}

.at{
    padding: 2px;
}

.comingsoon {
    padding: 0 5px;
}
.email:hover {
    cursor: pointer;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cursor {
    display: inline-block;
    width: 7px; /* Adjust the width to match your desired cursor size */
    height: 15px; /* Adjust the height to match your desired cursor size */
    background-color: #797979; /* Cursor color */
    animation: blink 1s infinite; /* 1s is the blink duration */
}
