body {
    background-color: #E4FF1A !important;
}

#brand-links a:hover {
    color: #131313;
    text-decoration: none;
}

.navbar li a {
    color: #131313;
}

.navbar li a:hover {
    color: #FF5757;
}

#work-info {
    padding: 60px 12px 80px 12px !important;
}

footer .footer-list li,
footer .footer-list li a,
#copyright p,
#copyright p a {
    color: #131313;
}

footer .footer-list li a:hover,
#copyright p a:hover {
    color: #FF5757;
}

.footer-list-title {
    color: #131313;
}

.brand-name-title,
.brand-services-title,
.brand-project-title {
font-family: ff-more-web-pro-condensed, serif;
font-weight: 400;
font-style: normal;
font-size: 20px;
}

.photothumb {
    width: 100%;
}

.works-img {
    margin-bottom: 20px;
}

#horizontal-works {
    width: 100vw; /* Expand to the full viewport width */
    height: 100%; /* Use the full viewport height */
    overflow-x: scroll; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrolling */
    white-space: nowrap; /* Prevent content from wrapping */
}
#horizontal-works .scroll-content {
    width: auto; /* Allow content to expand horizontally as needed */
    white-space: nowrap; /* Prevent content from wrapping */
    /* Add your content here */
}
#horizontal-works .img-div {
    /* width: fit-content; */
    display: inline-block;
}

@media only screen and (max-width: 640px) {
    .work-main-image {
        margin-bottom: 20px !important;
    }
    .brand-name-title,
    .brand-services-title,
    .brand-project-title {
        font-size: 18px;
        width: 100% !important;
    }
    .brand-name,
    .brand-project-desc,
    .brand-services {
        font-size: 15px;
        width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    .brand-name-title,
    .brand-services-title,
    .brand-project-title {
        font-size: 18px;
        width: 100% !important;
    }
    .brand-name,
    .brand-project-desc,
    .brand-services {
        font-size: 15px;
        width: 100% !important;
    }
}
